version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: toolschallenge_postgres
    restart: always
    environment:
      POSTGRES_DB: toolschallenge_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: toolschallenge_api-pagamentos
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: toolschallenge_db
    restart: always

volumes:
  pgdata:
